body{
	margin: 0;
	padding: 0;
	background: url(back.jpg);
	background-size: cover;
        min-height: 100vh;
}
.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 3%;
	color: white;
	font-family: 'century Gothic',sans-serif;
	border-radius: 20px 20px 20px 20px;
}
.box-img{
	border-radius: 50%;
	width: 150px;
	height: 150px;

}
.box h1{
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: 100;
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 40px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #b9b9b9;
}
